<div class="container-fluid footer">
    <div class="row">

        <!-- app name -->
        <div class="col-lg-6">
            <h1>CHRIST CART <i class="bi bi-bag-check"></i></h1>
        </div>
        <!-- navbar -->
        <div class="col-lg-4">
            <p>All Copyrights reserved to @Christ_Cart.</p>
        </div>
        <!-- social media handles -->
        <div class="col-lg-2">
            <a href="https://www.facebook.com/www.christuniversity.in/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://christuniversity.in/center/C/IS/contact-us" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/christuniversitylavasa/?hl=en" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/christbangalore?lang=en" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="mailto:mail@aditya.biswal@mca.christuniveristy.in" class="btn btn-primary">Mail Feedback</a>
        </div>
    </div>
</div>