.footer
{ 
    background-color:#000;
    padding: 20px 10px;
    position: sticky;
    top: 100%;

}
h1{
    color: white;
    font-size: 20px;
}
a
{
    color: white;
    text-decoration: none;
    padding: 13px;
    font-size: 17px;
}
a:hover{
    background-color: green;
}
i{
    color: var(--primary-color);
}
p{
    color: white;
}